.header {
  width: 100%;
  background-color: #1e293b;
  color: white;
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header nav a {
  margin-left: 1.5rem;
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.header nav a:hover {
  text-decoration: underline;
}
