* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-layout {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}
